
/* Outline grid elements in atto */

.editor_atto_content .span2,
.editor_atto_content .span3,
.editor_atto_content .span4,
.editor_atto_content .span6,
.editor_atto_content .span7,
.editor_atto_content .span8,
.editor_atto_content .span9,
.editor_atto_content .span10,
.editor_atto_content .span11,
.editor_atto_content .span12 { border: 1px #ddd dashed; }

/* Button to select grid */

.bsgridtemplateicon img { width: 30px; height: 30px; }

/* Button link wrapper */

a.bsgridtemplateicon {
    border: 1px solid #ccc;
    border-radius: 0.5em;
    display: inline-block;
    margin: 1em;
    padding: 0.5em;
    /*background: -webkit-linear-gradient(#fff, #f2f2f2);
    background: -o-linear-gradient(#fff, #f2f2f2);
    background: -moz-linear-gradient(#fff, #f2f2f2);
    background: linear-gradient(#fff, #f2f2f2);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(100,100,100,0.1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(100,100,100,0.1);
    box-shadow: 0px 2px 2px 0px rgba(100,100,100,0.1);
  */
}
